<div *ngIf="exp" class="line-header fbs wrap w100" style="position: relative;">
  <div class="w100 fss column">
    <h3 class="fss wrap">
      <span [innerHTML]="exp.title + ' ' | incompressibleSpace"></span>
      <span *ngIf="exp.society" [innerHTML]="'- ' + exp.society | incompressibleSpace"></span>
    </h3>
    <em [innerHTML]="exp.place | incompressibleSpace"></em>
  </div>
  <h3 class="fes" style="text-align: right;">
    <span *ngIf="exp.actualJob && !exp.beginDate">En cours</span>
    <span
      *ngIf="exp.actualJob && exp.beginDate">Depuis {{ exp.beginDate | amLocale:'fr' | amDateFormat:'MMMM YYYY' }}</span>
    <span *ngIf="!exp.actualJob && exp.beginDate && exp.endDate">
        De&nbsp;{{ exp.beginDate | amLocale:'fr' | amDateFormat:'MMMM[&nbsp;]YYYY' }}
      à&nbsp;{{ exp.endDate | amLocale:'fr' | amDateFormat:'MMMM[&nbsp;]YYYY' }}
      </span>
  </h3>
</div>
<div *ngIf="exp && exp.tagList" class="line-tags fss wrap w100">
  <p class="chip fcc" *ngFor="let tag of exp.tagList" [title]="tag.name" [innerHTML]="tag.name"></p>
</div>
<div
  class="line-body w100"
  [ngStyle]="{
    'margin-bottom': enableOpenCloseButtons && opened ? '30px' : '0',
    'overflow': opened && !masked ? overflow : 'hidden',
    'padding-left': overflow === 'hidden' || (overflow === 'auto' && (!opened || masked)) ? lineBodyPaddingLeft : '30px'
  }"
  [@ExperienceItemComponentInOut]="opened ? 'in' : 'out'"
  (@ExperienceItemComponentInOut.start)="onAnimation($event)"
  (@ExperienceItemComponentInOut.done)="onAnimation($event)"
>
  <div
    *ngIf="exp && exp.detailList"
    [id]="'experience-detail-list-' + index"
    class="fss w100 column"
  >
    <app-experience-item-detail *ngFor="let detail of exp.detailList" [detail]="detail">
    </app-experience-item-detail>
  </div>
</div>
<div
  *ngIf="enableOpenCloseButtons"
  class="closed-layer w100 fce"
  [@ClosedLayerInOut]="masked ? 'in' : 'out'"
  (@ClosedLayerInOut.start)="onAnimation($event)"
  (@ClosedLayerInOut.done)="onAnimation($event)"
  (click)="toggleView('open')"
>
  <button
    *ngIf="!opened && btnOpen" class="btns-open-close-items btn-open-item blinking">
    <i class="fas fa-hand-point-down" style="pointer-events: none;"></i>
  </button>
</div>
<button
  *ngIf="enableOpenCloseButtons && opened && !masked"
  class="fcc btns-open-close-items btn-close-item blinking"
  (click)="toggleView('close')"
>
  <i class="fas fa-hand-point-up" style="pointer-events: none;"></i>
</button>

