section {
  margin-bottom: 140px !important;
  position: relative;
}

section > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  width: 100%;
  height: 80px;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(2,72,115,1);
  border-top: 2px solid white;
  color: #fff;
  border-bottom: 2px solid #024873;
  cursor: context-menu;
  transition: all 1s;
}

section > h3:hover{
  color: #024873;
  border-bottom: 2px solid #024873;
}

section > h3 > span {
  position: relative;
  white-space: nowrap;
}

section > h3 > span::first-letter{
  text-transform: uppercase;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 20%;
}

section > div > .exp-line, section > div > .form-line {
  min-width: 350px;
}

.exp-line, .form-line {
  position: relative;
  height: auto;
  box-shadow: 0 3px 10px #ADADAD;
  margin-bottom: 20px;
  min-width: 300px;
  border-radius: 10px;
  background: linear-gradient(rgba(21, 21, 21, 0.1), rgba(235, 242, 242, 0.1));
}

.closed-view {
  // overflow: hidden;
  max-height: 100px;
}

.closed-layer {
  z-index: 50;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 130px;
  background: linear-gradient(rgba(235, 242, 242, .1), rgba(235, 242, 242, 1));
  border-radius: 10px;
}

.line-tags {
  margin-bottom: 5px;
}

.line-header, .line-tags, .line-body {
  padding: 30px;
}

.line-header, .line-tags {
  padding-bottom: 10px;
}

.line-header {
  padding-top: 40px;
}

.line-header > h3 {
  color: #555555;
  position: absolute;
  top: 10px;
  right: 30px;
}

.line-tags, .line-body {
  padding-top: 0;
}

.line-body {
  direction: rtl;
  max-height: 600px;
  overflow: hidden;
}

.line-body * {
  direction: ltr;
}

.chip {
  background: rgba(2, 72, 115, .7);
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 5px !important;
  margin-top: 5px !important;
  font-size: 12px;
  text-shadow: 1px 1px 1px grey;
}

.chip:first-of-type {
  margin-left: 0;
}

.badge-element {
  position: absolute;
  top: -2px;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #555555;
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 14px #b3b3b3;
  font-size: 14px;
  pointer-events: none;
}

.app-portfolio-item {
  margin: 20px !important;
}
