.mat-elevation-z4 {
  box-shadow: unset !important;
}

.mat-dialog-container {
  border-radius: 10px !important;
}

.mat-tab-header .mat-tab-header-pagination{
  display: none !important;
}

.mat-tab-header span {
  position: absolute;
  top: 12px;
  left: 20px;
}

.mat-tab-header .mat-ink-bar {
  width: 20% !important;
  background-color: rgba(2, 72, 115, 0.3) !important;
}

.mat-tab-header .mat-tab-label {
  font-weight: 600;
}

.mat-tab-header .mat-tab-label:hover {
  color: #024873;
  opacity: 1;
}

.mat-tab-header .mat-tab-label:active,
.mat-tab-header .mat-tab-label-active,
.mat-tab-header .mat-tab-label-active:focus,
.mat-tab-header .mat-tab-label-active:hover {
  background: #024873 !important;
  color: white !important;
  opacity: .5 !important;
  font-weight: 500 !important;
}

.mat-expansion-panel {
  border-radius: 5px !important;
}

.mat-expansion-panel-header.closed-panel:hover {
  background: rgba(2, 72, 115, 0.6) !important;

  .mat-expansion-panel-header-title {
    color: white !important;
    font-weight: 500 !important;
  }

  .mat-expansion-indicator::after {
    color: white !important;
  }
}

.mat-expansion-panel-header-title {
  font-weight: 600 !important;
}

.mat-expansion-panel {
  background: #EBF2F2 !important;
  box-shadow: unset !important;
  color: #024873 !important;
}

.mat-expansion-panel-header, .mat-expansion-panel-body {
  padding: 5px 10px !important;
}

.cdk-overlay-pane {
  .mat-menu-panel {
    width: 100% !important;
    max-width: none !important;

    .mat-menu-content {
      padding-top: 0 !important;
    }

    button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      font-weight: 600;

      .matIcon {
        position: absolute;
        top: 12px;
        left: 32px;
        color: #555555;
      }
    }
  }
}
