html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, pre,
a, img, strong, i, ul, li,
article, aside,
figure, footer, header, hgroup,
nav, section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
