.roboto {
  font-family: 'Roboto', sans-serif !important;
}

.clickable {
  cursor: pointer !important;
}

.clickable:hover {
  font-weight: 600;
}

.fcc { display: flex !important; justify-content: center !important; align-items: center !important; }
.fcs { display: flex !important; justify-content: center !important; align-items: flex-start !important; }
.fce { display: flex !important; justify-content: center !important; align-items: flex-end !important; }
.fsc { display: flex !important; justify-content: flex-start !important; align-items: center !important; }
.fss { display: flex !important; justify-content: flex-start !important; align-items: flex-start !important; }
.fse { display: flex !important; justify-content: flex-start !important; align-items: flex-end !important; }
.fec { display: flex !important; justify-content: flex-end !important; align-items: center !important; }
.fes { display: flex !important; justify-content: flex-end !important; align-items: flex-start !important; }
.fee { display: flex !important; justify-content: flex-end !important; align-items: flex-end !important; }
.fbc { display: flex !important; justify-content: space-between !important; align-items: center !important; }
.fbs { display: flex !important; justify-content: space-between !important; align-items: flex-start !important; }
.fbe { display: flex !important; justify-content: space-between !important; align-items: flex-end !important; }
.fac { display: flex !important; justify-content: space-around !important; align-items: center !important; }
.fas { display: flex !important; justify-content: space-around !important; align-items: flex-start !important; }
.fae { display: flex !important; justify-content: space-around !important; align-items: flex-end !important; }

.column { flex-direction: column !important; }

.wrap { flex-wrap: wrap !important; }

.h100 { height: 100% !important }
.w100 { width: 100% !important; }
.w90 { width: 90% !important; }
.w80 { width: 80% !important; }
.w70 { width: 70% !important; }
.w60 { width: 60% !important; }
.w50 { width: 50% !important; }
.w40 { width: 40% !important; }
.w30 { width: 30% !important; }
.w20 { width: 20% !important; }
.w10 { width: 10% !important; }

.full-screen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100vh !important;
}

.fs-8 { font-size: 8px !important; }
.fs-9 { font-size: 9px !important; }
.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-14 { font-size: 14px !important; }
.fs-15 { font-size: 15px !important; }
.fs-16 { font-size: 16px !important; }
.fs-17 { font-size: 17px !important; }
.fs-18 { font-size: 18px !important; }
.fs-19 { font-size: 19px !important; }
.fs-20 { font-size: 20px !important; }
.fs-21 { font-size: 21px !important; }
.fs-22 { font-size: 22px !important; }
.fs-23 { font-size: 23px !important; }
.fs-24 { font-size: 24px !important; }
.fs-25 { font-size: 25px !important; }
.fs-26 { font-size: 26px !important; }
.fs-27 { font-size: 27px !important; }
.fs-28 { font-size: 28px !important; }
.fs-29 { font-size: 29px !important; }
.fs-30 { font-size: 30px !important; }

.fw-600 { font-weight: 600 !important }
.fw-bold { font-weight: bold !important }
