.contactInfos > div {
  position: relative;
  right: 0;
  width: 400px;
  height: auto;
  min-height: 45px;
  margin-top: 1px;
  background: white;
  color: rgba(2, 72, 115, .8);
  border: none;
  border-radius: 10px;
  display: flex;
  align-content: center;
  box-shadow: 0 2px 14px #b3b3b3;
  transition: all .5s;
}

.contactInfos > div:hover {
  right: 310px;
  cursor: context-menu;
}

.contactInfos > div:hover > p, .contactInfos > div:hover > a {
  background: rgba(2, 72, 115, 1);
  cursor: pointer;
}

.contactInfos > div:first-of-type:hover > p, .contactInfos > div:nth-of-type(2):hover > p {
  cursor: context-menu;
}

.contactInfos > div > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(2, 72, 115, 1);
  font-size: 25px;
  background: linear-gradient(rgba(21, 21, 21, 0.1), rgba(235, 242, 242, 0.1));
  border-right: 1px solid transparent;
  border-radius: 10px 0 0 10px;
  width: 60px;
  pointer-events: none;
}

.contactInfos > div > p, .contactInfos > div > a {
  color: white;
  font-size: 16px;
  padding-left: 15px;
  margin: auto 0;
  flex: 1 1 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.contactInfos > div > a {
  display: block;
  width: 340px;
  text-decoration: none;
}

.figure-image {
  // width: 13px !important;
  // height: 13px !important;

  > img {
    width: 23px !important;
    height: 23px !important;
  }
}

#contactMobile {
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

app-btn-mobile-contact {
  margin: 15px 20px;
  width: 30%;
  height: 80px;
}
