
.rotate {
  transform: rotateZ(-90deg);
  position: relative;
  width: 610px;
  height: 570px;
}
.accordion {
  height: auto;
}
.interet-item {
  box-shadow: 0 3px 15px #ccc;
  margin-bottom: 20px;
  padding: 10px;
}
