<section id="INTERESTS">
  <h3 style="margin-bottom: 20px !important;" class="animated-background">
    <span>mes centres d'intérêts<span *ngIf="interestList" class="badge-element">{{ interestList.length }}</span></span>
  </h3>
  <div *ngIf="interestList" class="fcs w100">
    <app-vertical-accordion
      class="vertical-accordion"
      [verticalAccordionContainerClass]="'vertical-accordion-container'"
      [verticalAccordionItemClass]="'vertical-accordion-item'"
      [itemList]="interestList"
    ></app-vertical-accordion>
  </div>
</section>
