<section id="PORTFOLIO">
  <div
    [@showHideBackgroundImage]="showImage ? 'show' : 'hide'"
    class="full-screen"
    style="background-position: center; background-repeat: no-repeat; background-size: cover; opacity: 0; pointer-events: none;"
    [ngStyle]="{backgroundImage: backgroundImage ? 'url(' + backgroundImage + ')' : ''}"
  ></div>
  <h3 class="animated-background"><span>mon Portfolio<span class="badge-element">{{ siteDemoList.length }}</span></span></h3>
    <div *ngIf="siteDemoList.length" class="pf_flip w100 fcc">
      <app-portfolio-item
        *ngFor="let siteDemo of siteDemoList"
        class="app-portfolio-item"
        [siteDemo]="siteDemo"
        (mouseenter)="onLoadBackgroundImage(siteDemo)"
        (mouseleave)="onRemoveBackgroundImage()"
      ></app-portfolio-item>
    </div>
</section>
