#fond-footer {
  background: white;
}

.mat-grid-tile {
  color: white !important;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.bottom-tile {
  background: linear-gradient(90deg, #555555, #024873, #414141, rgba(2, 72, 115, 0.6));
  background-size: 300% 100%;
  animation: gradient 10s linear infinite;
  animation-direction: alternate-reverse;
}

.mobile-right-tile {
  width: 100%;
  height: 50px;

  > figure {
    width: 35%;
    margin: 0 5px;
    color: white;
    opacity: .5;
    transition: all .2s;
  }
}

.mobile-right-tile:hover {
  background: #024873;

  > figure {
    opacity: 1;
  }
}

