h1 > span{
  display: inline-block
}
h2 {
  position: relative;
  top: 2px;
}
div.hgroup{
  height: 100%;
  min-height: 140px;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-shadow: 0 2px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden
}
div.hgroup, h1, h2 {
  background: #024873;
  color: white;
}

#figAccueil{
  position: relative;
  -webkit-filter: grayscale(100);
  -moz-filter: grayscale(100);
  -o-filter: grayscale(100);
  filter: grayscale(100);
  transition: all 3s
}

#figAccueil:hover{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none
}

#imgAccueil {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  h1{
    font-size: 70px
  }
  h2{
    font-size: 50px
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  h1{
    font-size: 60px
  }
  h2{
    font-size: 40px
  }
}
@media screen and (min-width: 480px) and (max-width: 767px){
  h1{
    font-size: 36px
  }
  h2{
    font-size: 30px
  }
}
@media screen and (max-width: 479px){
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 20px
  }
}
