<div class="hgroup">
    <h1 [innerHTML]="title | headerTitleFormat"></h1>
    <h2>{{ subTitle }}</h2>
</div>
<figure id="figAccueil" class="fse">
  <img id="imgAccueil" role="img" [src]="headerImage" alt="MIKEONLINE">
</figure>

