.p_conteneur{
  position: relative;
  width: 175px;
  height: 175px;
}
.p_face, .p_dos{
  width: 175px;
  height: 175px;
  backface-visibility: hidden;
  transition: .3s;
  position: absolute;
  top: 0;
  left: 0
}
.p_face {
  transform: perspective(1600px) rotateY(0deg);
  background: #4E7F9D;
}

.p_face > p:first-of-type {
  height: 38px;
  line-height: 19px;
  text-align: center;
  color: white;
}

.p_face p > span:nth-of-type(2) {
  display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 2px white
}

.p_dos {
  transform: perspective(1600px) rotateY(180deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 175px;
}
.p_conteneur:hover .p_face{
  transform: perspective(1600px) rotateY(180deg)
}
.p_conteneur:hover .p_dos{
  transform: perspective(1600px) rotateY(360deg)
}
.p_dos li{
  list-style: none;
  font-size: 14px;
  background: white;
  color: #024873;
  width: 100%;
  min-height: 18px;
  height: auto;
  margin-top: 1px;
}
.p_dos li:first-of-type{
  color: #FFF;
  background: #024873;
  font-size: 14px;
  line-height: 40px;
  font-weight: 900;
  box-shadow: 0 2px 2px #777;
  height: 40px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.p_dos li a{
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-weight: bold;
  border-radius: 10px;
  background: white;
  color: #555;
  text-shadow: 0 2px 2px white;
  border: 1px double #555;
  transition: all .5s
}
.p_dos a:hover{
  background: #666;
  color: white;
  height: 25px;
  line-height: 23px;
  width: 100%;
  text-shadow: none
}
.p_dos a:active{
  background: transparent;
  color: black;
  text-shadow: none;
  border: 1px double white
}
