.btn-background {
  position: relative;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  overflow: hidden;

  > figure {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 18px !important;
      height: 18px !important;
    }
  }

  > p {
    margin-top: 35px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(2, 72, 115, 1);
    color: white;
    height: 45px;
    width: 100%;
  }
}
