/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "app/styles/reset-css";

html, body { height: 100%; }

body {
  margin: 0;
  overflow-x: hidden;
  background: #EBF2F2;
  color: #024873;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}
p, em, a, li, button {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
}

@import "app/styles/view-utils";
@import "app/styles/components";
@import "app/styles/vertical-accordion";
@import "app/styles/buttons";
@import "app/styles/scroll";
@import "app/styles/word-in-cloud";
@import "app/styles/material-elements";
@import "app/styles/animations";

/* MEDIA QUERIES */
@import "app/styles/media-queries";
